<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. PyTorch

| Data Science Tools |
|----|
| TensorFlow |
| Apache Spark |
| Jupyter Notebook |

<h3>Below are a few examples of evaluating arithmetic expressions in Python </h3>
a = 7

b = 8

c = a + b

print("c")

In [13]:
#This a simple arithmetic expression to mutiply then add integers

a = (3*4)+5
print(a)

17

In [14]:
#This will convert 200 minutes to hours by diving by 60

a = 200
hours = a/60
print(hours)

3.3333333333333335

**Objectives:**

<uol> List popular languages for Data Science
    <li> Python </li>
    <li> R </li>
    <li> SQL </li>
    <li> Julia </li>
</uol>

<h2> AUTHOR </h2>

Nayanpriya